*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* header section styles */
.header{
    max-width: 1600px;
    height: 806px;
    background-image: url('./images/banner/banner3.png');
    background-size: cover;
    margin-bottom: 130px;
}
.header-content{
    padding: 200px 125px 166px 840px;
}
.header-title{
    font-size: 51px;
    font-weight: 700;
    color: #ffffff;
    text-align: right;
    line-height: 60px;
    margin-bottom: 20px;

}
.header-description {
	color: #fefefe;
	font-size: 15px;
	text-align: right;
	line-height: 22px;
	margin-bottom: 40px;
}
.btn{
    color: #3511da;
    background: #FFFFFF;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    display: block;
    float: right;

}

/* Failures section styles */
.failures-section{
    display: flex;
    align-content: space-between;
    gap: 30px;
    padding-left: 206px;
    padding-right: 200px;
    margin-bottom: 128px;
}
.failures-image{
    width: 100%;
}
.failures-content{
    padding-top: 300px;
}
.failures-content-title{
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 24px;
}
.failures-content-description{
    color: #706d6d;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
}
.failures-check-content img{
    width: 5%;
    
}
.failures-check-content p{
    color: #706d6d;
    line-height: 25px;
}

/* My plan section styles */

.my-plan-section{
    padding: 0 180px 0 200px;

}
.plan-section-content{
    height: 360px;
}
.plan-details{
    border: 1px solid rgb(91, 10, 196);
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
    padding: 22px; 
}
.plan-section-title{
    font-size: 36px;
    margin-bottom: 40px;
}
.plan-section-title{
    text-align: center;
}
.plan-section-content{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.plan-section-content img{
    width: 88px;
    height: 88px;
    margin-bottom: 15px;
}
.plan-section-content h2{
    font-size: 23px;
    margin-bottom: 8px;
}
.plan-section-content p{
    color: #706d6d;
    font-size: 18px;
    margin-bottom: 130px;
}

/* Positive section */
.positive-section{
    margin-top: 130px;
    padding: 0 180px 0 200px;
}
.positive-section-content {
	background: url(./images/watch.png), linear-gradient(90deg, #071826 0%, rgba(0, 95, 172, 0) 100%);
	background-size: cover;
	background-blend-mode: overlay;
	padding: 60px 617px 0 64px;
	border-radius: 8px;
	margin-bottom: 130px;
	height: 300px;
	width: 1140px;
	box-sizing: border-box;
}
.positive-section-content p{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Work Sans';
    margin-bottom: 25px;
}

.btn-2 {
    background: white;
    padding: 16px 26px;
    border: none;
    color: rgb(73, 11, 189);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}